@font-face {
  font-family: "nanumgothic";
  src: url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);
}

@font-face {
  font-family: "namumbrush";
  src: url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap);
}

body {
  margin: 0;
  font-family: "nanumgothic";
  --font-nanumbrush: "nanumbrush";
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
  overflow: hidden;
}